<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security" -->
	
<div th:fragment="header">

	<!-- //////////////////////////////////////////////////////////// -->

	<!--
		인자 현황판 (collapse) : 교정 : list.html로 부터 이전 및 교정(작동 이상) : 2024.3
		: 교정 사항 : 인자(pageVO, boardList)가 있을 경우에만 표현 
		: https://getbootstrap.com/docs/5.3/components/collapse/ 
	-->
	<div id="args_board" class="collapse">
		
		<table class="table table-striped"  th:if="${pageVO != null}">
			<tr>
				<th style="width: 150px;">총 게시글 수</th>
				<td th:text="${pageVO.listCount}"></td>
				<th style="width: 150px;">이전 페이지</th>
				<td th:text="${pageVO.prePage}"></td>
				<th style="width: 150px;">현재 페이지</th>
				<td th:text="${pageVO.currPage}"></td>
				<th style="width: 150px;">이후 페이지</th>
				<td th:text="${pageVO.nextPage}"></td>
				<th style="width: 150px;">처음 페이지</th>
				<td th:text="${pageVO.startPage}"></td>
				<th style="width: 150px;">마지막 페이지</th>
				<td th:text="${pageVO.endPage}"></td>
			</tr>
			<tr th:each="board, st : ${boardList}" th:if="${not #lists.isEmpty(boardList)}">
				<th colspan="1">게시글 정보</th>
				<td colspan="11"><span th:text="${board}"></span><br></td>
			</tr>
		</table>
		
		<!-- 관리자 권한 -->
		<table class="table table-striped" th:if="${not #lists.isEmpty(members) }">
					<tr>
						<th style="width: 150px;">총 인원 수</th>
						<td th:text="${pageVO.listCount}"></td>
						<th style="width: 150px;">이전 페이지</th>
						<td th:text="${pageVO.prePage}"></td>
						<th style="width: 150px;">현재 페이지</th>
						<td th:text="${pageVO.currPage}"></td>
						<th style="width: 150px;">이후 페이지</th>
						<td th:text="${pageVO.nextPage}"></td>
						<th style="width: 150px;">처음 페이지</th>
						<td th:text="${pageVO.startPage}"></td>
						<th style="width: 150px;">마지막 페이지</th>
						<td th:text="${pageVO.endPage}"></td>
					</tr>
					<tr th:each="member, st : ${members}">
						<th colspan="1">회원 정보</th>
						<td colspan="11"><span th:text="${member}"></span><br></td>
					</tr>
				</table>
	
		<!-- 인증정보/회원정보 인자 확인  -->
		<div th:if="${#authentication != null}">
			
			<table class="table table-striped">
				<tr>
					<th style="width:120px">인증정보</th>
					<td>[[${#authentication}]]</td>
				</tr>
			</table>
			
		</div>
		
		<div th:if="${memberDTO != null}">
		
			<table class="table table-striped">
				<tr>
					<th style="width:120px">회원정보(인자)</th>
					<td>[[${memberDTO}]]</td>
				</tr>
			</table>
			
		</div>
		
		<div th:if="${board != null}">
			
			<table class="table table-striped">
				<tr>
					<th style="width:120px">게시글 정보</th>
					<td>[[${board}]]</td>
				</tr>
			</table>
			 
		</div>		
		
		<div th:if="${session.boardUpdateSess != null}">
			
			<table class="table table-striped">
				<tr>
					<th style="width:120px">기존 게시글 정보(세션)</th>
					<td>[[${session.boardUpdateSess}]]</td>
				</tr>
			</table>
			 
		</div>		
				
	</div>
	
	<!-- //////////////////////////////////////////////////////////// -->
	
	<div class="header_sect_pnl">
	
			<!-- 
			
			- Spring Security/Thymeleaf
			: https://github.com/thymeleaf/thymeleaf-extras-springsecurity
			
			- Spring Security : Auth Method(인증/인가 관련 메서드)
			: https://cafe.naver.com/ezbigjava1/508
			
			-->
	
		<ul id="main_menu">
		
			<!-- 인자 현황 보기/가리기 버튼(추가) : 2024.3 -->
			<li>
				<div class="d-flex mt-2">
					<a href="#args_board" class="btn btn-primary p-2 mt-4 mx-4" 
					   data-bs-toggle="collapse" data-bs-target="#args_board" 
					   aria-expanded="false" aria-controls="args_board">
					   인자현황
					</a>
				</div>
			</li>
		
			<li><a th:href="@{/}">Home</a></li>
			
			<!-- 로그인 인증이 안되었을 때  -->
			<li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
			
			<li sec:authorize="isAnonymous()"><a th:href="@{/member/join.do}">회원 가입</a></li>
						
			<!-- 로그인 인증되었을 때   -->
			<li sec:authorize="isAuthenticated()"><a th:href="@{/welcome}">MyPage</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/view.do}">회원 정보 조회</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/update.do}">회원 정보 수정</a></li>
			
			<!-- 게시판 링크 -->
			<li sec:authorize="isAuthenticated()"><a th:href="@{/board/list.do}">게시글 목록</a></li>
			<!--// 게시판 링크 -->
			
			<!-- 등급(롤:role)이 관리자일 경우 -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/viewAllWithRoles.do}">회원 관리</a></li>
			
		</ul>

	</div>

</div>