<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	
<div th:fragment="header">

	<!-- 인증정보/회원정보 인자 확인  -->
		<div th:if="${#authentication != null}">
			
			<table class="table table-striped">
				<tr>
					<th style="width:120px">인증정보</th>
					<td>[[${#authentication}]]</td>
				</tr>
			</table>
			
		</div>
		
		<!-- menu intro  -->
		
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <!-- <a href="" class="navbar-brand p-0"> -->
                    <h1 class="text-success"><i class="fa fa-utensils me-3"></i>'건 건 건'</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a th:href="@{/}" class="nav-item nav-link active">홈</a>
                        <a th:href="@{/about}" class="nav-item nav-link">소개</a>
                        <a th:href="@{/service}" class="nav-item nav-link">추천 식단</a>
                        <a th:href="@{/board/list.do}" class="nav-item nav-link">자유게시판</a>
                        
                        
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                              
                            <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" data-bs-toggle="dropdown">마이페이지</a>
                              
                            <div class="dropdown-menu m-0">
                                <a th:href="@{/member/view.do}" class="dropdown-item">내 정보</a>
                                <a th:href="@{/board/mypage.do}" class="dropdown-item">내가 쓴 글 </a>
                                           <a th:href="@{/service2}" class="dropdown-item">나만의 식단</a>
                                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="dropdown-item">로그아웃</a>
                            </div>
                        </div>
                    <a sec:authorize="isAnonymous()" th:href="@{/member/join.do}" class="nav-item nav-link">회원가입</a>
              		
              		<!-- 회원가입 관리자 -->
                     <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/viewAllWithRoles.do}" class="nav-item nav-link">관리자</a>
                     
                    </div>
                    
            
                </div>
            </nav>
            
              <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">5대 질병<br>건강한 식단</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2 ">한국의 5대 질병인 암, 고지혈증, 당뇨, 치매, 고혈압 질병에 도움이 되는 건강한<br> 식단을 추천 및 안내하려고 합니다.</p>
                           
    
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden " >
                            <img class="img-fluid" th:src="@{/img/main1.png}"  alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
            
        <!--// menu intro  -->
        
</div>